absl-py==1.4.0
accelerate==0.22.0
aiofiles==23.2.1
aiohttp==3.9.3
aiosignal==1.3.1
altair==4.2.2
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
asgiref==3.6.0
aspose-cells==23.11.0
aspose-cells-python==23.11.0
aspose-words==24.1.0
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==23.1.0
autoscraper==1.1.14
backcall==0.2.0
backoff==2.2.1
bcrypt==4.1.2
beautifulsoup4==4.12.2
bidict==0.22.1
bitsandbytes==0.41.1
blinker==1.6.2
blis==0.7.11
boto3==1.34.31
botocore==1.34.31
Brotli==1.1.0
bs4==0.0.1
build==1.0.3
cachetools==5.3.0
caffe-ssd==0.1
camera==1.3.0
catalogue==2.0.10
certifi==2024.2.2
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.3
chromadb==0.4.22
click==8.1.6
cloudpathlib==0.16.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.1.2
comtypes==1.2.1
confection==0.1.3
contourpy==1.0.7
cryptography==41.0.5
cssselect2==0.7.0
curated-tokenizers==0.0.8
curated-transformers==0.1.1
cycler==0.11.0
cymem==2.0.8
dataclasses-json==0.6.1
dataclasses-json-speakeasy==0.5.11
datasets==2.14.4
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.7
distlib==0.3.6
distro==1.9.0
Django==4.1.7
docopt==0.6.2
donut==0.2.2
donut-python==1.0.9
effdet==0.4.1
emoji==2.10.1
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.7.2/en_core_web_trf-3.7.2-py3-none-any.whl#sha256=dd56d80640411c2e81c3b0cfcb6068156a459c259ae11a4ea51c625c751e3e0a
entrypoints==0.4
escape==1.1
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==1.2.0
faiss-cpu==1.7.4
fastapi==0.104.1
ffmpy==0.3.1
filelock==3.12.2
filetype==1.2.0
flashtext==2.7
Flask==3.0.0
Flask-Cors==4.0.0
flask-ngrok==0.0.25
Flask-SocketIO==5.3.6
flatbuffers==23.3.3
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2023.6.0
gast==0.4.0
gevent==23.9.1
gitdb==4.0.10
GitPython==3.1.36
gnupg==2.3.1
google-ai-generativelanguage==0.4.0
google-api-core==2.12.0
google-auth==2.16.2
google-auth-oauthlib==1.0.0
google-generativeai==0.3.2
google-pasta==0.2.0
googleapis-common-protos==1.61.0
gradio==4.14.0
gradio_client==0.8.0
greenlet==3.0.1
grpcio==1.59.2
grpcio-status==1.59.2
gunicorn==21.2.0
h11==0.14.0
h2==4.1.0
h5py==3.8.0
hpack==4.0.0
html5lib==1.1
httpcore==1.0.2
httptools==0.6.1
httpx==0.26.0
huggingface-hub==0.20.2
humanfriendly==10.0
Hypercorn==0.15.0
hyperframe==6.0.1
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.1
imutils==0.5.4
install==1.3.5
InstructorEmbedding==1.0.1
iopath==0.1.10
ipykernel==6.21.2
ipython==8.11.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
JPype1==1.4.1
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.4
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter_client==8.0.3
jupyter_core==5.2.0
keras==2.13.1
kiwisolver==1.4.4
kor==1.0.0
kubernetes==29.0.0
langchain==0.1.5
langchain-community==0.0.19
langchain-core==0.1.21
langchain-experimental==0.0.50
langchain-google-genai==0.0.5
langchain-openai==0.0.5
langcodes==3.3.0
langdetect==1.0.9
langsmith==0.0.87
layoutparser==0.3.4
libclang==15.0.6.1
lightning-utilities==0.10.0
llamaapi==0.1.36
lxml==4.9.3
Markdown==3.4.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
memory-profiler==0.61.0
mmh3==4.1.0
monotonic==1.6
mplcursors==0.5.2
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
munch==4.0.0
murmurhash==1.0.10
mypy-extensions==1.0.0
natsort==8.4.0
nest-asyncio==1.5.6
networkx==3.1
ngrok==0.9.0
nltk==3.8.1
numpy==1.24.2
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.15.0
onnxruntime==1.15.1
openai==1.10.0
opencv-python==4.7.0.72
openpyxl==3.1.2
opentelemetry-api==1.22.0
opentelemetry-exporter-otlp-proto-common==1.22.0
opentelemetry-exporter-otlp-proto-grpc==1.22.0
opentelemetry-instrumentation==0.43b0
opentelemetry-instrumentation-asgi==0.43b0
opentelemetry-instrumentation-fastapi==0.43b0
opentelemetry-proto==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-semantic-conventions==0.43b0
opentelemetry-util-http==0.43b0
opt-einsum==3.3.0
orjson==3.9.10
outcome==1.2.0
overrides==7.4.0
packaging==23.2
pandas==1.5.3
parso==0.8.3
pdf2image==1.16.3
pdfminer==20191125
pdfminer.six==20221105
pdfplumber==0.10.3
peft==0.5.0
pickleshare==0.7.5
pikepdf==8.12.0
Pillow==10.1.0
pipreqs==0.4.13
platformdirs==3.8.0
plum-dispatch==1.7.4
portalocker==2.8.2
posthog==3.3.1
preshed==3.0.9
priority==2.0.0
prompt-toolkit==3.0.38
proto-plus==1.22.3
protobuf==4.25.1
psutil==5.9.4
psycopg2-binary==2.9.6
pulsar-client==3.4.0
pure-eval==0.2.2
pyarrow==13.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyclipper==1.3.0.post5
pycocotools==2.0.7
pycparser==2.21
pycryptodome==3.19.0
pydantic==2.5.1
pydantic-settings==2.1.0
pydantic_core==2.14.3
pydeck==0.8.0
pydub==0.25.1
pydyf==0.8.0
Pygments==2.14.0
Pympler==1.0.1
PyMuPDF==1.23.8
PyMuPDFb==1.23.7
pyparsing==3.0.9
pypdf==3.16.4
PyPDF2==3.0.1
pypdfium2==4.24.0
pyphen==0.14.0
PyPika==0.48.9
pyproject_hooks==1.0.0
pyreadline3==3.4.1
PySocks==1.7.1
pytesseract==0.3.10
python-dateutil==2.8.2
python-decouple==3.8
python-doctr==0.7.0
python-docx==1.1.0
python-dotenv==1.0.0
python-engineio==4.7.1
python-iso639==2024.1.2
python-magic==0.4.27
python-multipart==0.0.6
python-socketio==5.9.0
pytorch-lightning==2.1.2
pytz==2022.7.1
pytz-deprecation-shim
pywin32
PyYAML==6.0.1
pyzmq==25.0.0
Quart==0.19.4
quart-cors==0.7.0
rapidfuzz==3.5.2
referencing==0.30.2
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.5.3
rpds-py==0.10.3
rsa==4.9
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
s3transfer==0.10.0
safetensors==0.3.3
schedule==1.2.1
scikit-learn==1.4.0
scipy==1.10.1
sconf==0.2.5
selenium==4.11.2
semantic-version==2.10.0
sentence-transformers==2.2.2
sentencepiece==0.1.99
shapely==2.0.2
shellingham==1.5.4
simple-websocket==1.0.0
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
spacy==3.7.2
spacy-alignments==0.9.1
spacy-curated-transformers==0.2.0
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy-transformers==1.3.2
Spire.Pdf==10.2.0
SQLAlchemy==2.0.22
sqlparse==0.4.3
srsly==2.4.8
stack-data==0.6.2
starlette==0.27.0
streamlit==1.28.2
streamlit-aggrid==0.3.3
streamlit-javascript==0.1.5
streamlit-nested-layout==0.1.1
streamlit-option-menu==0.3.6
streamlit-sparrow-labeling==0.1.1
sympy==1.12
tabula==1.0.5
tabulate==0.9.0
taskgroup==0.0.0a4
tenacity==8.2.3
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
tf2onnx==1.15.1
thinc==8.2.1
threadpoolctl==3.1.0
tiktoken==0.5.2
timm==0.9.10
tinycss2==1.2.1
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.0
torch==2.1.1
torchmetrics==1.2.0
torchvision==0.16.1
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.32.1
trio==0.22.2
trio-websocket==0.10.3
trl==0.7.1
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2022.7
tzlocal==4.3.1
Unidecode==1.3.7
unstructured==0.12.3
unstructured-client==0.17.0
unstructured-inference==0.7.23
upgrade-pip==0.1.4
urllib3==2.2.0
uvicorn==0.23.2
validators==0.22.0
virtualenv==20.23.1
waitress==2.1.2
wasabi==1.1.2
watchdog==3.0.0
watchfiles==0.21.0
wcwidth==0.2.6
weasel==0.3.4
weasyprint==60.1
webencodings==0.5.1
websocket-client==1.7.0
websockets==11.0.3
Werkzeug==3.0.1
wrapt==1.15.0
wsproto==1.2.0
xxhash==3.3.0
yarg==0.1.9
yarl==1.9.2
zipp==3.17.0
zope.event==5.0
zope.interface==6.1
zopfli==0.2.3
zss==1.2.0
